{% extends "base.html" %}

{% block content %}
    <ul class="list-group">
    {% for answer in answers %}
        <li class="list-group-item list-group-item-warning">{{answer.body}}</li>
    {% endfor %}
    </ul>
    <form action="" method="post" name="vote">
        {{ form.hidden_tag() }}
        <p>
        <label><h3 style="color: blue;">Vote</h3></label>
            <select name="option" class="form-control">
            {% for o in option_list %}
                <option name="{{ o }}" SELECTED>{{ o[0] }}</option>
            {% endfor %}
            </select>
        </p>
        <input class="btn btn-success" type="submit" value="{{ ('Add vote') }}">
    </form>
{% endblock %}
